@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="messageList"></div>
<input type="text" id="messageInput"></input>
<button onClick="sendMessage()">Send</button>

<script>
    const connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();

    connection.on("ConsumeMessage", (sender, content) => {
        const msg = document.createElement("div");
        msg.textContent = `${sender}: ${content}`;
        document.getElementById("messageList").appendChild(msg);
    });

    connection.start().catch(err => console.error(err.toString()));

    function sendMessage() {

        const messageContent = document.getElementById("messageInput").value;
        const message = {
            Sender: "WebClient",
            Content: messageContent
        };

        fetch('/message/sendmessage', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(message)
        });
    }
</script>